.discoverContainer {
  background-color: #2F303A;
  min-height: calc(100vh - 160px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 10%;
}

.content {
  display: flex;
  align-items: center;
  gap: 60px;
  width: 100%;
  max-width: 900px;
}

.leftSection {
  flex: 1;
}

.leftSection h1 {
  font-size: 2.0rem;
  font-weight: 500;
  color: white;
  margin-bottom: 30px;
}


.iconGrid {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
}

.iconItem {
  background-color: #202027; 
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: background 0.3s;
  padding: 20px;
}

.iconItem img {
  width: 40px;     
  height: 40px;
  margin-bottom: 10px; 
  object-fit: contain;
  padding:9px;
  display: block;
}

.iconItem:hover {
  background-color: #3b3b47;
}

.iconItem span {
  color: white;
  font-size: 0.9rem;
}

.leftSection p {
  color: white;
  font-weight: 300;
  font-size: 1.0rem;
  line-height: 1.5;
}

.rightSection {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.coversImg {
  max-width: 350px;
  height: auto;
  object-fit: contain;
}