.discoverContainer {
  background-color: #2F303A;
  min-height:80vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 10%;
}

.content {
  display: flex;
  align-items: center;
  gap: 60px;
  width: 100%;
  max-width: 900px;
  margin-bottom: 50px; /* Espacio de seguridad antes del footer */
}

.leftSection {
  flex: 1;
}

.leftSection h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
  margin-bottom: 30px;
}

/* El grid de los 3 iconos cuadrados */
.iconGrid {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
}

.iconItem {
  background-color: #202027; /* El gris oscuro de tus cuadrados */
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.iconItem:hover {
  background-color: #3b3b47;
}

.iconItem span {
  color: white;
  font-size: 0.9rem;
}

.leftSection p {
  color: white;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.5;
}

.rightSection {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.coversImg {
  max-width: 350px;
  height: auto;
  object-fit: contain;
}