.joinPage {
  background-color: #2F303A;
  min-height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
}

.joinContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: visible; 
  padding: 40px 10%;
}


.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 1000px;
  z-index: 2; 
}


.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  line-height: 1.1;
}

.pinkText {
  color: #BC3A80;
  font-size: 2.5rem;
   font-weight: 700;
}


.rightSection * {
  box-sizing: border-box;
}

.rightSection {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.joinForm {
  background-color: #202027;
  border-radius: 20px;
  width: 100%;
  height: auto; 
  display: flex;
  flex-direction: column;
  gap: 20px; 
  padding: 40px; 
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%; 
}

.inputGroup label {
  color: white;
  font-weight: 500;
  font-size: 1rem;
}

.inputGroup input {
  background-color: transparent;
  border: 1px solid #1762A7;
  border-radius: 8px;
  padding: 12px;
  color: white;
  outline: none;
  width: 100%; 
}

.joinBtn {
  background-color: #1762A7;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
  width: 100%;
}

.joinBtn:hover {
  background-color: #2180d8;
}

.circleOne {
  position: absolute;
  width: 400px; 
  height: 400px;
  background-color: rgba(52, 91, 219, 0.15); 
  border-radius: 50%;
  top: -180px;   
  left: 300px;  
  z-index: 100; 
}

.circleTwo {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: rgba(188, 58, 128, 0.1); 
  border-radius: 50%;
  bottom: -100px;
  left: -100px;
  z-index: 5;
  

}

 @media (max-width: 480px){

  .content{
    flex-direction: column;
  }

  .circleOne, .circleTwo{
    width: 150px;
    height: 150px;
  }

} 