.joinPage {
  background-color: #2F303A;
  min-height:75vh;
  display: flex;
  flex-direction: column;
}

.joinContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden; 
  padding: 40px 10%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 1000px;
  z-index: 2; 
}


.title {
  font-size: 4.5rem;
  font-weight: 700;
  color: white;
  line-height: 1.1;
}

.pinkText {
  color: #BC3A80;
}


.joinForm {
  background-color: #202027;
  padding: 40px;
  border-radius: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputGroup label {
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
}

.inputGroup input {
  background-color: transparent;
  border: 1px solid #1762A7;
  border-radius: 8px;
  padding: 12px;
  color: white;
  font-family: 'Poppins', sans-serif;
  outline: none;
}

.joinBtn {
  background-color: #1762A7;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
}

.joinBtn:hover {
  background-color: #2180d8;
}

/* Círculos de Fondo */
.circleOne {
  position: absolute;
  width: 600px;
  height: 600px;
  background-color: rgba(52, 91, 219, 0.1);
  border-radius: 50%;
  top: -100px;
  left: -200px;
  z-index: 1;
}

.circleTwo {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: rgba(188, 58, 128, 0.1);
  border-radius: 50%;
  bottom: 10%;
  left: 10%;
  z-index: 1;
}