.header {
  flex-shrink: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 10%;
  background-color: #2F303A;
  box-sizing: border-box;
}

.navigation {
  width: 100%; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
}


.logoContainer {
  display: flex;
  align-items: center;
  gap: 1rem; 
}

.logoImg {
  height: 40px; 
  width: auto;
}

.logoText {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem; 
}

.navLink {
  color: white;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s;
}

.navLink:hover {
  color: #adadb8; 
}