
.header {
  width: 100%;
  background-color: #2f2c3a; 
  padding: 1rem 0;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;   
  padding: 0 2rem;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 15px; 
}

.logoImg {
  width: 40px; 
  height: auto;
}

.logoText {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}


.navLinks {
  display: flex;
  list-style: none;
  gap: 30px; 
  margin: 0;
  padding: 0;
}


.navList {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: opacity 0.3s;
}

.navList:hover {
  opacity: 0.8; 
}