.appWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  overflow: hidden; 
}
/* .mainContent {
 
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
} */
:global(body) {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
}

:global(*) {
  box-sizing: border-box;
  font-weight: 200; 
}